<!DOCTYPE html>

<html>
     
    <title>help</title>
    <link rel="icon" href="../../public/images/weather.png">
<link rel="stylesheet" href="./css/styles.css">

<head>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helptext}}</p>
    </div>

    {{>footer}}

</body>

</html>